*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex{
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
}

.relative{
  position: relative;
}

.body-color{
  background-color: #d8dbd5;
  height: 100vh;
  position: relative;
}

.top-color{
  background-color: #009688;
  height: 23vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.central-container{
  width: 1200px;
  height: 90vh;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}

.left-side{
  width: 35%;
  height: 100%;
}

.right-side{
  width: 65%;
  height: 100%;
  background-color: green;/*DEBUG*/
  background-image: url(../img/mine.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.owner{
  padding: 10px;
  background-color: #eaeaea;
  border-right: 1px solid #d6d6d6;
}

.circle{
  width: 50px;
  height: 50px;
  position: relative;

  border-radius: 90px;
}

i{
  margin-right: 10px;
}

.icone{
  line-height: 50px;
  font-size: 22px;
  color: #b1b1b1;
}

.notifiche-desktop{
  background-color: #8edafc;
}

.notifiche-desktop{
  padding: 15px;
  overflow: auto;
}

.notifiche-desktop .circle{
  background-color: white;
  float: left;
}

.fa-bell-slash{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 20px;

  color: #8edafc;

  padding: 10px;
}

.notifiche-desktop-message{
  width: calc(100% - 100px);
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%,-50%);
}

.notifiche-desktop-message h5{
  color: #131d22;
}

.notifiche-desktop-message a h5{
  color: #6293aa;
}

.notifiche-desktop-message a{
  text-decoration-color: #4f7485;
}

.search-bar{
  color: #fafafa;
  padding: 10px;
  background-color: white;
}

.search-box .box-1 , .search-box .box-2{
  border: 1px solid #fafafa;
}

.box-1{
  text-align: center;
  width: 10%;
}

.box-2{
  width: 90%;
}

input{
  width: 90%;
  height: 30px;
  border-radius: 0px;
  border: 1px solid white;
}

input::placeholder{
  margin-left: 5px;
}

.fa-search{
  color: #b9bcbe;
  line-height: 30px;
}

.friend-box{
  overflow: auto;
  height: calc(100% - 70px - 80px - 27px - 24px);
}

.friend{
  position: relative;
  padding: 15px;
  background-color: #ffffff;
}

.friend:hover{
  background-color: #e9ebeb;
}

.friend-info{
  height: 50px;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%,-50%);
  flex-direction: column;
  justify-content: space-around;
}

.friend-info h6{
  color: #b8bbbd;
}

.selected{
  padding: 10px;
  height: 70px;
  background-color:#eaeaea;
}

.selected-name{
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
}

.scrittura{
  height: 70px;
  width: calc(100% - 420px);
  margin-left: 420px;
  position: fixed;
  bottom: 0;
  left: 0;

  justify-content: space-between;
  align-items: center;

  background-color: #f3eeea;

  padding: 15px;
}

.chat-window{
  padding: 15px;
  font-size: 12px;

  height: calc(100% - 140px);
  overflow-y: scroll;
}

.message-time{
  bottom: 0;
  right: 0;
}

.sent{
  background-color: #d5f9ba;
}

.received{
  background-color: #fff;
}

.sinistra{
  justify-content: flex-start;
}

.destra{
  /* margin-left: calc(100% - 300px - 15px); */
  justify-content: flex-end;
}

.message{
  display: inline-block;
  position: relative;
  min-width: 100px;
  max-width: 300px;
  border-radius: 10px;
  padding: 15px;
}

.message-row{
  display: flex;
}

.chat{
  min-height: 50px;
}

.message-time{
  font-size: 10px;
  position: absolute;
  bottom: 0;
  right: 5px;

  overflow: auto;
}

.container-flex{
  display: flex;
}
